html {
    background-color: rgb(216, 171, 125);
    color: rgb(71, 39, 7);
    font-family: Trattatello;
    font-size: 10px;
    margin: 30px;
}

h1, h2 {
    text-align: center;
    margin: auto;
    width: 85%;
    align: center;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    color: rgb(77, 71, 63);
    display: inline;
    text-align: center;
}

section.allItemsSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 2rem;
    justify-content: center;
    padding: 15px;
    text-align: center;
    align-content: center;
}

ul {
    list-style-type:none;
    background: rgb(168, 149, 123);
    margin: 15px;
    border-radius: 5px;
}

div {
    width: 30%;
}

button {
    background: rgb(168, 149, 123);
}

img {
    width: 100%;
}

ul.databaseItemInfo {
    width: auto;
}

.databaseItemInfo li {
    color: rgb(33, 20, 4);
    line-height: 30px;
}

div.itemInfoDiv {
    background-color: rgb(240, 231, 211);
    max-width: 300px;
    margin: 0 10px 20px 10px;
    padding: 15px;
}

button.deleteButton {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(33, 20, 4, 0.3);
    border-radius: 8px 30px;
    height: 40px;
    width: 80px;
    font-size: 2.7rem;
}

button.deleteButton:hover {
    background-color: salmon;
}

a, .navBarLink {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(240, 231, 211);
    font-size: 2.5rem;
}

.navBarLink:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(33, 20, 4);
    border-radius: 10px;
}

.navBar {
    display: flex;
    flex-display: row;
    width: 100%;
    justify-content: space-around;
}

.navBarItems {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

footer.pageFooter {
    background: rgb(168, 149, 123);
    color: rgb(33, 20, 4);
    margin: 20px;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
}



@media screen and (max-width: 965px) {
    body {
    }

    .navBar {
        display: flex;
        width: 85%;
        align-content: center;
        margin: 0 auto;
    }

    .navBarItems {
        display: inline-block;
        width: 70%;
        line-height: 40px;
        text-align: center;
    }

    section.allItemsSection {
        min-width: 200px;
    }

    div.itemInfoDiv {
        min-width: 300px;
    }

    @media screen and (max-width: 865px) {
        body {
        }

        .navBar {
            display: flex;
            width: 85%;
            align-content: center;
            margin: 0 auto;
        }

        .navBarItems {
            display: inline-block;
            width: 70%;
            line-height: 40px;
            text-align: center;
        }

        section.allItemsSection {
            min-width: 200px;
        }

        div.itemInfoDiv {
            min-width: 200px;
        }

        @media screen and (max-width: 700px) {
            body {
            }

            .navBar {
                display: flex;
                width: 60%;
                align-content: center;
                margin: 0 auto;
            }

            .navBarItems {
                display: inline-block;
                width: 70%;
                line-height: 40px;
                text-align: center;
            }

            div.itemInfoDiv {
                min-width: 350px;
                max-width: 390px;
            }
        }
    }
}